<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="daoBanque" class="com.groupe1.adaming.daoBanque.BanqueDaoImp" ></bean>
<bean id="metierBanque" class="com.groupe1.adaming.metierBanque.BanqueMetierImp" >
<property name="dao" ref="daoBanque" ></property>
</bean>

<bean id="daoClient" class="com.groupe1.adaming.daoClient.ClientDaoImp" ></bean>
<bean id="metierClient" class="com.groupe1.adaming.metierClient.ClientMetierImp" >
<property name="dao" ref="daoClient" ></property>
</bean>

<bean id="daoCompte" class="com.groupe1.adaming.daoCompte.CompteDaoImp" ></bean>
<bean id="metierCompte" class="com.groupe1.adaming.metierCompte.CompteMetierImp" >
<property name="dao" ref="daoCompte" ></property>
</bean>

<bean id="daoEmploye" class="com.groupe1.adaming.daoEmploye.EmployeDaoImp" ></bean>
<bean id="metierEmploye" class="com.groupe1.adaming.metierEmploye.EmployeMetierImp" >
<property name="dao" ref="daoEmploye" ></property>
</bean>

<bean id="daoGroupe" class="com.groupe1.adaming.daoGroupe.GroupeDaoImp" ></bean>
<bean id="metierGroupe" class="com.groupe1.adaming.metierGroupe.GroupeMetierImp" >
<property name="dao" ref="daoGroupe" ></property>
</bean>


<bean id="daoOperation" class="com.groupe1.adaming.daoOperation.OperationDaoImp" ></bean>
<bean id="metierOperation" class="com.groupe1.adaming.metierOperation.OperationMetierImp" >
<property name="dao" ref="daoOperation" ></property>
</bean>


</beans>
